:root {
    --primary-color: #F4D04E;
    --secondary-color: #111111;
    --tertiary-color: #6B6B6B;
    --four-color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 522px;
    width: 384px;
    padding: 20px 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image-container img { 
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-description {
    width: 336px;
    height: 194px;
    overflow: hidden;
}

.card-description p:nth-child(1) {
    display: inline-block;
    padding: 4px 12px;
    background-color: var(--primary-color);
    font-weight: bold;
    border-radius: 8px;
}

.card-description p:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-description h3{
    font-size: 24px;
    margin-bottom: 12px;
} 

.card-description p:nth-child(4) {
    color: var(--tertiary-color);
    line-height: 150%;
}

.hoper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.hoper-container img {
    width: 32px;
    height: 32px;
}

.hoper-container p {
    margin-left: 12px;
    color: var(--secondary-color);
    font-weight: bold;
}

/* hovers */

.card-description h3:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* visuals */

.card-container {
    border: 1px solid var(--secondary-color);
    box-shadow: 7px 8px 0px 0px var(--secondary-color);
}